future==0.16.0
flask==1.1.2
googlemaps==3.0.2
gunicorn==19.9.0
idna==2.7
itsdangerous==0.24
Jinja2==2.10.1
jmespath==0.9.5
MarkupSafe==1.0
more-itertools==4.3.0
packaging==20.3
pathspec==0.5.9
pluggy==0.7.1
py==1.10.0
pyparsing==2.4.7
pytest==3.8.1
python-dateutil==2.8.0
PyYAML==5.3.1
requests==2.20.0
semantic-version==2.5.0
six==1.11.0
soupsieve==2.0
termcolor==1.1.0
urllib3==1.24.2
virtualenv==20.0.18
wcwidth==0.1.9
Werkzeug==0.15.3
wikipedia==1.4.0
